.psc-btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.15s ease;
    pointer-events: initial;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.psc-btn::before,
.psc-btn::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7d8082;
    transition: all 0.15s ease;
}

.psc-btn::before {
    top: 0;
    border-bottom-width: 0;
}

.psc-btn::after {
    bottom: 0;
    border-top-width: 0;
}

.psc-btn:active,
.psc-btn:focus {
    outline: none;
}

.psc-btn:active::before,
.psc-btn:active::after {
    right: 3px;
    left: 3px;
}

.psc-btn:active::before {
    top: 3px;
}

.psc-btn:active::after {
    bottom: 3px;
}

.psc-btn-lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
    width: 21rem;
}

.psc-btn-lg::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.psc-btn-lg::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all 0.2s ease;
}

.psc-btn-sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all 0.2s ease;
}

.psc-btn-text {
    position: relative;
}

.psc-btn:hover {
    color: #0f1923;
}

.psc-btn:hover .psc-btn-sl {
    width: calc(100% + 15px);
}

.psc-btn:hover .psc-btn-lg::after {
    background-color: #fff;
}
