@import "tailwindcss";

/* Color Theme */
@theme {
	/* Primary Color */
	--color-primary: #b19cd9;
	--color-primary-light: #f0ebff;
	--color-primary-dark: #8b7bb8;
	/* Status Color */
	--color-status-success: #90c695;
	--color-status-warning: #f5c842;
	--color-status-error: #e57373;
	--color-status-info: #81c7d4;
	/* Neutral Color */
	--color-neutral-black: #2d2d30;
	--color-neutral-gray-600: #8b8b8b;
	--color-neutral-gray-400: #b8b8b8;
	--color-neutral-gray-200: #e8e8e8;
	--color-netural-white: #ffffff;
}
